<div>
        <br>
          <!-- <div class="container">
              <div class="container">
                <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
                    <div class="blocks">
                        <button button="submit" mat-raised-button color="primary">
                            <mat-icon>add</mat-icon> Add Post
                        </button>
                    </div>
              </div>
          </div>
        <br> -->

        <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card" >
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <h3>Search car</h3>
            </mat-card-title>
            <mat-card-content>
              <div class="example-container mat-elevation-z8">
                  <form class="example-form" [formGroup]="searchCarForm" (ngSubmit)="search()">
                    <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-label>Select make</mat-label>
                            <mat-select formControlName="make" name="make" >
                                <mat-option value="ALL">All</mat-option>
                                <mat-option *ngFor="let mk of allMakes" [value]="mk._id"> {{ mk.name }}</mat-option>
                                <!-- <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                      </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                                <mat-label>Select model</mat-label>
                                <mat-select formControlName="model">
                                    <mat-option value="ALL">All</mat-option>
                                    <mat-option *ngFor="let md of allModels" [value]="md._id"> {{ md.name }}</mat-option>
                                    <!-- <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option> -->
                                </mat-select>
                        </mat-form-field>
                      </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <input matInput name="zipcode" placeholder="Zipcode" formControlName="zipcode" >
                            <mat-error *ngIf="searchCarForm.get('zipcode').errors">Zipcode format is not correct</mat-error>
                        </mat-form-field>
                        <button mat-raised-button class="btn btn-primary" type="submit" [disabled]="!searchCarForm.valid">
                          <mat-icon>search</mat-icon> Search
                        </button>
                    </div>
                </div>
                </form>    
              </div>
            </mat-card-content>
          </mat-card>

        </div>
      </div>

      <br>
      
      <div class="container" *ngIf="cars.length > 0">
            <div fxLayout="row" fxLayoutAlign="center center" class="content">
              <mat-card class="card" >
                <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                  <h3>Results({{cars.length}})</h3>
                </mat-card-title>
                <mat-card-content>
                  <div class="example-container mat-elevation-z8">
                        <!-- <div 
                            fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
                            <ng-container *ngFor="let _ of [1,2,3,4,5,6]">
                                <app-card fxFlex="0 1 calc(33.3% - 32px)"></app-card>
                            </ng-container>
                        </div> -->
                        <div 
                            fxLayout="row wrap" 
                            fxLayout.lt-sm="column" 
                            fxLayoutGap="32px" 
                            fxLayoutAlign="flex-start">

                            <!-- search car result loop -->
                                <ng-container *ngFor="let car of cars">

                                    <app-card [car]="car"
                                        fxFlex="0 1 calc(33.3% - 32px)"
                                        fxFlex.lt-md="0 1 calc(50% - 32px)"
                                        fxFlex.lt-sm="100%"
                                        >
                                    </app-card>

                                </ng-container>
                        </div>
                  </div>
                </mat-card-content>
              </mat-card>
    
            </div>
        </div>

    </div>