/* .cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 32px;
  }
  .cardListItem {
    flex: 0 1 calc(33.3% - 32px);
  }
  @media screen and (max-width: 959px) {
    .cardList > *:not(:last-child) {
      margin-right: 32px;
    }
    .cardListItem {
      flex: 0 1 calc(50% - 32px);
    }
  }
  @media screen and (max-width: 599px) {
    .cardList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .cardList > *:not(:last-child) {
      margin-right: unset;
      margin-bottom: 32px;
    }
  } */


