<div class="container" *ngIf="cars.length > 0">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card" >
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <h3>Favorite cars ({{cars.length}})</h3>
            </mat-card-title>
            <mat-card-content>
              <div class="example-container mat-elevation-z8">
                    <div 
                        fxLayout="row wrap" 
                        fxLayout.lt-sm="column" 
                        fxLayoutGap="32px" 
                        fxLayoutAlign="flex-start">

                        <!-- search car result loop -->
                            <ng-container *ngFor="let car of cars">

                                <app-card [car]="car" (favoriteChange)="cars=$event"
                                    fxFlex="0 1 calc(33.3% - 32px)"
                                    fxFlex.lt-md="0 1 calc(50% - 32px)"
                                    fxFlex.lt-sm="100%"
                                    >
                                </app-card>

                            </ng-container>
                    </div>
              </div>
            </mat-card-content>
          </mat-card>

        </div>
    </div>

    <div class="container" *ngIf="cars.length == 0">
              <div class="container">
                <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
                    <div class="blocks">
                        <a routerLink="/"  >
                            <mat-icon>search</mat-icon> Back to search page
                        </a> <hr/>
                        <span>You don't have any favorite cars yet.</span>
                    </div>
              </div>
    </div>